.footer{
    background-color: #bf1e2d;
    color:white;
    text-align: center;
    margin-top:50px;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerWrapper{
    display:flex;
    flex-direction:row;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content:center;
}

.footerLink, .p{
    color: white !important;
    padding-left:10px;
    text-decoration: none;
    margin-top:30px;
}

.footerLink:hover,
.footerLink:after,
.footerLink:focus,
.footerLink:active{
    color: white !important;
    padding-left:10px;
    font-weight: bold;
    text-decoration: none;
}