.footer {
  background-color: #bf1e2d;
  color: white;
  font-weight: 300 !important;
  text-align: center;
  margin-top: 50px;
  height: 300px;
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin: 0px;
  margin-top: 25px;
  padding: 0px;
}

.developer_row{
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  width: max-content;
  max-width: 100%;
}

@media screen and (max-width: 758px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;
  }

  .footer {
    height: 500px !important;
    width: 100vw !important;
    position: relative;
    bottom: 0;
    margin-bottom: 0px !important;
  }

  .footerLink,
  .p,
  .contactUsP {
    color: white !important;
    text-decoration: none;
    margin-top: 30px;
    padding: 0px;
  }
}

.footerLink,
.p {
  color: white !important;
  text-decoration: none;
  margin-top: 30px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}


.footerLink:after{
  content: " ";
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  padding-bottom: 5px;
  border-bottom: 3px solid white !important;
}

.footerLink:hover:after{
  transform: scaleX(1);
}


.contactUsP {
  color: white !important;
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
}

.contactUsRow {
  width: min-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
