.container {
  width: 100vw;
  font-weight: 300 !important;
}

.truckImg {
  height: 500px;
  width: 100%;
}

.bannerContainer {
  background-color: #bf1e2d;
  width: 100% !important;
  height: fit-content !important;
  text-align: center !important;
  font-family: Athena;
  margin-left: auto !important;
  margin-right: auto !important
}

.banner {
  margin: auto;
  padding: 10px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  align-self: center;
}

.uploadLogoContainer {
  background-color: black;
  color: white;
  margin-top: 50px;
  text-align: center;
  font-weight: 300 !important;
}

.uploadLogoHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Athena;
  font-size: 60px;
}

.uploadLogoPBold,
.uploadLogoP {
  margin: 0px;
  font-size: 14px;
}

.uploadLogoPBold {
  font-size: 18px;
  font-weight: bold;
}

.uploadButton {
  background-color: #bf1e2d;
  color: white;
  border-color: #bf1e2d;
  border-radius: 0px;
  width: 130px;
  height:30px;
  padding-top: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.uploadButton:hover,
.uploadButton:focus,
.uploadButton:after {
  background-color: crimson;
  color: white;
  border-color: crimson;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardRow {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 300 !important;
}

.cardCol {
  padding-bottom: 50px;
  font-weight: 300 !important;
}

.card {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300 !important;
}

.cardIcon {
  height: 30px;
  width: 30px;
}

.cardHeader {
  background-color: white;
  text-align: center;
  color: #bf1e2d;
  font-size: 20px;
  border-color: white;
}

.cardBody {
  color: black;
  font-weight: 300 !important;
}

.cardTitle {
  font-weight: 300 !important;
  color: #1b75bc;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.testimonialsContainer {
  text-align: center;
  color: black;
  width: 100vw !important;
  font-weight: 300 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonialsHeader {
  color: #bf1e2d;
  padding-top: 50px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  font-family: Athena;
  font-size: 60px;
}

.testimonialsP {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonialsRow{
  width: 100vw !important;
}

.testimonialsCol{
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonialsWrapper {
  text-align: center;
  margin-top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  display:flex !important;
  flex-direction:column !important;
  justify-content:center !important;
}

.testimonialsImg {
  height:  min(300px, 80vw);
  width:  min(400px, 80vw);
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonialsFooter {
  background-color: black;
  color: white;
  font-weight: 300 !important;
  height: 30px;
  width: min(400px, 90vw);
  margin-left: auto !important;
  margin-right: auto !important;
}