.row{
  margin-left: auto !important;
  margin-right: auto !important;
}

.videoDiv {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display:none !important;
}

.video{
    width: 100%;
    display:none !important;
}

.infoDiv {
  width: 50%;
  margin-top: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: justify;
  font-weight: 400 !important;
}

.header {
  font-size: 24px;
  font-weight: 300 !important;
  text-align:center;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 25px;
}

@media screen and (max-width:758px){
  .row{
   /* margin-top: 50px; */
  }

  .videoDiv {
    width: 100%;
  }

  .infoDiv {
    width: 90%;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: justify !important;
  }

  .header{
    margin-bottom: 25px;
  }
}