.videoDiv {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.video{
    width: 100%;
}

.infoDiv {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 300 !important;
}

.header {
  font-size: 24px;
  font-weight: 300 !important;
}
