.row{
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.logoCol {
  text-align: center;
}

.truck_logo_div{
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px;
  display:flex;
  flex-direction: column;
}

.logoImage_div{
  height: 250px !important;
  width: 250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  border:1px solid #999e9f99 !important;
}

.logoImage {
  height: 250px !important;
  width: 250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.orderLogoButton_div{
  min-width: 120px;
  max-width: 200px !important;
  margin-top: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.orderLogoButton {
  height: 30px;
  color: white;
  background-color: #bf1e2d;
  border-color: #bf1e2d;
  border-radius: 0px;
  padding-top: 5px;
  font-family: "Acumin" !important;
}

.orderLogoButton:hover,
.orderLogoButton:focus,
.orderLogoButton:after {
  color: white;
  background-color: crimson;
  border-color: crimson;
  border-radius: 0px;
}

@media screen and (max-width: 578px){
  .logoGridContainer{
    width: 98% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  .logoCol{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  
  .logoImage_div{
    height: 250px !important;
    width: 250px !important;
  }

  .logoImage {
    height: 250px !important;
    width: 250px !important;
  }

  .orderLogoButton {
    height: 50px !important;
    min-width: 100px;
    max-width: 250px;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 10px;
    color: white;
    background-color: #bf1e2d;
    border-color: #bf1e2d;
    border-radius: 0px;
    font-size: 1.2rem !important;
  }
}