.navbar{
    background-color:white !important;
    height:fit-content;
    font-family: Bench-Nine;
}

.brand, .linkItem{
    color:black !important;

}

.linkItem{
    padding-left:50px !important;
    padding-right:50px !important;
    align-self: center;
    border-bottom:0px solid royalblue;
    font-weight: 300;
    font-size: 30px;
}

.linkItem:hover{
    border-bottom:5px solid royalblue;
}
