.emailCheckBox {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  margin-top: 50px;
  border: 1px solid #bf1e2d;
  height: max-content;
  width: min(1000px, 90%);
  font-weight: 300 !important;
}

.p {
  font-size: 20px;
  padding: 10px;
}

.a {
  color: #bf1e2d;
}

.a:hover,
.a:focus,
.a:active,
.a:after {
  color: crimson;
  font-weight: bold;
}
