.productGrid {
  margin-top: 50px;
  font-weight: 300 !important;
}

.productImageColWrapper {
  margin-left: auto !important;
  margin-right: auto !important;
  width: min(500px, 90vw);
}

.productImageDiv {
  height: min(500px, 90vw);
  width: min(500px, 90vw);
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  border: 1px solid #808285;
}

.productImage {
  height: 100%;
  width: 100%;
}

.colorFormWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.colorBox {
  height: 40px;
  width: 50px;
  border: 1px solid #808285;
  margin: 6px;
}

.dropdownDiv {
  width: 100%;
  margin: 6px;
}

.dropdownColorToggle {
  height: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid #808285;
  color: black;
  text-align: start;
  font-size: 20px;
  font-weight: 300 !important;
  border-radius: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdownColorToggle:focus {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
}
.dropdownColorToggle:hover {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
}

.dropdownColorToggle::after {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
}

.dropdownItemColor {
  height: 100%;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-top: 5px;
}

.option {
  font-size: 20px;
  font-weight: 300 !important;
}

.productDiv {
  width: min(500px, 90%);
  margin-left: auto !important;
  margin-right: auto !important;
}

.addNewPDiv {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.addNewP {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  color: crimson;
}

.inputGroupAdd {
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.productDivAdd {
  margin-top: 5px;
  padding-top: 0px;
  width: min(482px, 90%);
  margin-left: auto !important;
  margin-right: auto !important;
}

.listGroupItem {
  width: 100%;
  margin: 6px;
  height: 40px;
  background-color: white;
  border: 1px solid #808285;
  color: #808285;
  text-align: start;
  font-size: 20px;
  border-radius: 0px !important;
}

.deleteBox {
  height: 40px;
  width: 50px;
  border: 1px solid #808285;
  margin: 6px;
}

.deleteBox .xTimesIcon {
  display: none;
}

.deleteBox:hover .xTimesIcon {
  display: inline-block;
}

.xTimesIconBox {
  margin-left: auto !important;
  margin-right: auto !important;
  height: min-content;
  width: min-content;
}

.xTimesIcon {
  color: #bf1e2d;
  margin-top: 3px;
}

.spanListGroupItem {
  background-color: white;
  border-radius: 0px !important;
  border: 0px;
  border-right: 1px solid #808285;
}

.crimsonSpan {
  color: black;
}

.pListGroupItem {
  border-radius: 0px !important;
  border: 0px;
}

.inputGroup {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.categoryDropdown {
  max-width: max-content;
  border-color: #808285;
  background-color: white;
  color: black;
  font-weight: 300 !important;
  font-size: 20px;
}

.categoryAddLettering {
  border-color: #808285;
}

.searchButton {
  border-color: #808285;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
  border-radius: 0px;
}

.searchButton:hover,
.searchButton:focus,
.searchButton:after {
  border-color: #808285;
  background-color: white;
  color: black;
  font-size: 20px;
}

.orderInfoForm {
  margin-top: 50px;
}

.formGroup {
  margin-left: auto;
  margin-top: 10px;
  width: (100% - 52px);
}

.formGroupSpan {
  margin-left: auto;
  margin-top: 20px;
  max-width: 460px;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.inputGroupText {
  font-size: 16px !important;
  font-weight: 300 !important;
  font-weight: 300 !important;
  background-color: white;
  border: 1px solid #808285;
}

.dummyDeleteBox {
  height: 40px;
  width: 52px;
}

.formControl {
  height: 40px;
  border-color: #808285;
  border-radius: 0px;
}

.commentFormControl {
  height: 200px;
}

.commentFormControl::placeholder {
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
}

.commentFormControl:disabled{
  font-size: 20px;
  font-weight: 300 !important;
  /* background-color:#c12e2a; */
  opacity: 0.5;
}

.emailFormControl::placeholder {
  color: black;
  font-size: 20px;
  font-weight: 300 !important;
}

.emailFormControl:disabled{
  font-size: 20px;
  font-weight: 300 !important;
  opacity: 0.5;
}

.orderNowButtonDiv {
  width: 100%;
  text-align: center;
}

.orderNowButtonDiv:disabled{
  /* background-color: ; */
}

.orderNowButton {
  border-color: #bf1e2d;
  background-color: #bf1e2d;
  color: white;
  margin-top: 20px;
  border-radius: 0px;
}

.orderNowButton:hover,
.orderNowButton:focus,
.orderNowButton:after {
  border-color: crimson;
  background-color: crimson;
  color: white;
}

.inputGroupTextAmount {
  border: 0px solid transparent;
  font-size: 20px !important;
}

.amountFormControl {
  max-width: 65px;
  /* border: 0px solid transparent; */
  border: 1px solid #808285;
}

.amountFormControlExtra {
  margin-left: 70px !important;
}

@media screen and (max-width: 758px) {
  .dummyDeleteBox {
    width: 0px;
  }
  .amountFormControlExtra {
    margin-left: 0px !important;
    padding-left: 10px !important;
  }
}
